<?xml version="1.0" encoding="UTF-8"?>
<!-- AirZone Binding -->
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0
	https://openhab.org/schemas/config-description-1.0.0.xsd">
	<!-- -->
	<!-- AirZone Bridge -->
	<!-- -->
	<config-description uri="bridge-type:airzone:bridge">
		<parameter name="ipAddress" type="text" required="true">
			<label>@text/config.airzone.bridge.ipAddress.label</label>
			<description>@text/config.airzone.bridge.ipAddress.description</description>
			<context>network-address</context>
		</parameter>
		<parameter name="tcpPort" type="integer" required="false" min="1" max="65335">
			<label>@text/config.airzone.bridge.tcpPort.label</label>
			<description>@text/config.airzone.bridge.tcpPort.description</description>
			<default>3000</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="timeoutMsecs" type="integer" min="500" step="1" max="10000" required="false">
			<label>@text/config.airzone.bridge.timeoutMsecs.label</label>
			<description>@text/config.airzone.bridge.timeoutMsecs.description</description>
			<default>3000</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="retries" type="integer" min="0" step="1" max="10" required="false">
			<label>@text/config.airzone.bridge.retries.label</label>
			<description>@text/config.airzone.bridge.retries.description</description>
			<default>5</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="refreshMsecs" type="integer" min="5000" step="1" max="60000" required="false">
			<label>@text/config.airzone.bridge.refreshMsecs.label</label>
			<description>@text/config.airzone.bridge.refreshMsecs.description</description>
			<default>10000</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="isProtocolTraceEnabled" type="boolean" required="false">
			<label>@text/config.airzone.bridge.isProtocolTraceEnabled.label</label>
			<description>@text/config.airzone.bridge.isProtocolTraceEnabled.description</description>
			<default>false</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>
	<!-- -->
	<!-- AirZone Zones -->
	<!-- -->
	<config-description uri="thing-type:airzone:zone">
		<parameter name="systemId" type="integer" min="1" max="32" required="true">
			<label>@text/config.airzone.thing.zone.systemId.label</label>
			<description>@text/config.airzone.thing.zone.systemId.description</description>
			<advanced>false</advanced>
		</parameter>
		<parameter name="zoneId" type="integer" min="1" max="32" required="true">
			<label>@text/config.airzone.thing.zone.id.label</label>
			<description>@text/config.airzone.thing.zone.id.description</description>
			<advanced>false</advanced>
		</parameter>
	</config-description>
	<!-- -->
	<!-- AirZone Systems -->
	<!-- -->
	<config-description uri="thing-type:airzone:system">
		<parameter name="systemId" type="integer" min="1" max="32" required="true">
			<label>@text/config.airzone.thing.system.systemId.label</label>
			<description>@text/config.airzone.thing.system.systemId.description</description>
			<advanced>false</advanced>
		</parameter>
	</config-description>

</config-description:config-descriptions>
